*.iml
.gradle
/local.properties
/.idea
.idea/
.vscode/
.kotlin/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.keystore
*.jks

/decompiled_classes
/scratch

# SQLite runtime artifacts
modules_config.db
modules_config.db-shm
modules_config.db-wal
