<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.android.systemui" />
        <package android:name="com.android.settings" />
        <package android:name="com.miui.aod" />
        <package android:name="com.miui.securitycenter" />
        <package android:name="com.xiaomi.scanner" />
    </queries>

    <application
        android:name=".HyperTweakApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HyperTweak"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
        android:enableOnBackInvokedCallback="true">
        
        <!-- Xposed Module Configuration -->
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Unlock AOD and GMS restrictions on HyperOS/MIUI."/>
        <meta-data
            android:name="xposedminversion"
            android:value="93"/>
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope"/>

        <!-- Main Activity -->
        <activity
            android:name="com.takekazex.hypertweak.MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|layoutDirection|colorMode|fontWeightAdjustment|fontScale"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>

        <!-- Launcher Icon Activity Alias -->
        <activity-alias
            android:name="com.takekazex.hypertweak.MainActivityAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="HyperTweak"
            android:targetActivity="com.takekazex.hypertweak.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
    </application>

</manifest>
